<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Vue</title>
    <script src="http://unpkg.com/vue@3.0.2"></script>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background: #ff0;
        margin: 20px;
        display: inline-block;
      }

      img {
        width: 230px;
        height: 200px;
      }

      li.fav {
        background-color: #f04d;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <h1>hello Test Vue</h1>

    <div id="app">
      <div v-if="showBooks">
        <p>{{title}}</p>
        <p>{{author}}</p>
        <p>{{age}}</p>
        <button v-on:click="age++">Age+</button>
        <button v-on:click="age--">Age-</button>
        <div @click="changeTitle('NameOfChangeTitleName')">
          Click me will change the title
        </div>
      </div>
      <button @click="toggleHideBookName">
        <span v-if="showBooks"> Hide Books</span>
        <span v-if="!showBooks">Show Books</span>
      </button>

      <br />
      <div class="box" @mouseOver="handleEvent">MouseOver (enter)</div>
      <div class="box" @mouseLeave="handleEvent">MouseLeave</div>
      <div class="box" @dblClick="handleEvent">Double Click</div>
      <div class="box" @mouseMove="mouseMove">MouseMove -- {{x}} -- {{y}}</div>

      <br />
      <div class="fruitsArray">
        <ul>
          <li
            v-for="fruit in filteredFruits"
            :class="{fav: fruit.isFav}"
            @click="toggleFruitFav(fruit)"
          >
            <h3>{{fruit.name}}</h3>
            <img :src="fruit.image" :alt="fruit.name" />
            <p>{{fruit.price}}</p>
          </li>
        </ul>
      </div>

      <div class="v-bind">
        <a :href="url"> Google It !</a>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
